<header>
    <div class="area1">
        <h1>Influencia COVID 19 por comunidad</h1>
        <select  [ngModel]="selectedCCAA" (ngModelChange)="onChange($event)">
            <option [value]="ccaa.code" *ngFor="let ccaa of options">
                {{ccaa.name}}
            </option>
        </select>
    </div>
    <div class="area2">
        <h4> Fuente de datos oficial(28/03/2020): <a href="https://covid19.isciii.es/">https://covid19.isciii.es/</a> </h4>
    </div>
</header>


<section>
    <article>
        <h2>COVID 19: Cantidades totales incrementales (valores oficiales)</h2>
        <p class="explain"> Estas gráficas siempre suben por que a cada día se suman los datos del anterior</p>
        <p class="explain"> Lo que hay que fijarse es la pendiente, cuanto mas plana, menor sera el numero de nuevos casos</p>
        <div  id="GraphA" #GraphA></div>
    </article>

    <article >
        <h2>COVID 19: Cantidades por día (valores calculados)</h2>
        <p class="explain"> Estas gráficas suben y bajan, por que son los casos totales de cada día</p>
        <p class="explain"> Lo que hay que fijarse es si las columnas van bajando según pasan los días, lo cual indicaría una mejora</p>
        <div id="GraphB" #GraphB></div>
    </article>
</section>

<footer>
    <p><b>NOTA publicada en la fuente de datos:</b> El objetivo de los datos que se publican en esta web es saber el número de casos acumulados a la fecha y que por tanto no se puede deducir que la diferencia entre un día y el anterior es el número de casos nuevos ya que esos casos pueden haber sido recuperados de fechas anteriores Cualquier inferencia que se haga sobre las diferencias de un día para otro deben hacerse con precaución y son únicamente la responsabilidad el autor</p>
    <p><b>NOTA de este autor:</b> estas gráficas usan los datos oficiales compartidos por el gobierno a la población. Según el rigor con que se han tomado esos datos, las gráficas por días debe tomarse como una aproximación.</p>
    <p>Made by ATL</p>
</footer>

