
<header>
    <h1  style="margin-bottom:20px">Influencia COVID 19 distribuidas por comunidades</h1>
</header>


<header>
    <h1  class="title_separator">Situación actual de España</h1>
</header>

<!-- Spain charts -->
<!-- Spain charts -->
<!-- Spain charts -->
<section>
   <ul class="kpis">
        <li>
            <p class="number">España</p>
            <p class="number " style="margin-top:15px">{{jsonResumeSpain.Fecha}}</p>
            <p class="number lastp" style="margin-top:15px">{{jsonResumeSpain.Hora}}h</p>
            
            <!--p><span class="material-icons">poll</span></p-->
        </li>
        <li>
            <p class="number">{{jsonResumeSpain.Casos24h | number}}</p>
            <p><span class="material-icons">query_builder</span></p>
            <p class="lastp">Casos últimas 24H</p>
        </li>
        <li>
            <p class="number">{{jsonResumeSpain.Casos | number}}</p>
            <p><span class="material-icons">add_alarm</span></p>
            <p class="lastp">Total de casos</p>
        </li>
        <li>
            <p class="number">{{jsonResumeSpain.Defunciones | number}}</p>
            <p><span class="material-icons">cloud</span></p> 
            <p class="lastp">Total de fallecidos</p>
        </li>
        <li>
            <p class="number">{{jsonResumeSpain.Recuperados | number}}</p>
            <p><span class="material-icons">directions_walk</span></p>
            <p class="lastp">Total de recuperados</p>
        </li>
        <li>
            <p class="number">{{jsonResumeSpain.Hospitalizados | number}}</p>
            <p><span class="material-icons">local_hotel</span></p>
            <p class="lastp">Total de hospitalizados</p>             
        </li>
   </ul>
   

    <article class="pie">
        <h2 style="margin-bottom:0px">Situación en España con {{jsonResumeSpain.Casos | number}} casos</h2>
        <div id="GraphE0" #GraphE0></div>
    </article>

</section>



<!-- Comparanción de comunidades -->
<!-- Comparanción de comunidades -->
<!-- Comparanción de comunidades -->

<header>
    <h1  class="title_separator">Comparanción de comunidades</h1>
</header>

<!--Charts by Regions Totales-->
<header style="margin-top:10px">
        <h2>Comunidades: casos totales</h2>
</header>
<section class="trisection" >
    <article>
        <h2>Casos totales</h2>
        <div  id="GraphE1" #GraphE1></div>
    </article>

    <article >
        <h2>Casos en las ultimas 24H</h2>
        <div id="GraphE2" #GraphE2></div>
    </article>

    <article >
        <h2>Casos en los útimos 14 días</h2>
        <div id="GraphE3" #GraphE3></div>
    </article>
</section>


<!--Charts by Regions Totales por cada 1000h-->
<header>
        <h2>Comunidades: casos por cada 1000 habitantes</h2>
</header>

<section class="trisection" >
    <article>
        <h2>Casos totales por cada 1000 habitantes</h2>
        <div  id="GraphE4" #GraphE4></div>
    </article>

    <article >
        <h2>Casos en las ultimas 24H por cada 1000 habitantes</h2>
        <div id="GraphE5" #GraphE5></div>
    </article>

    <article >
        <h2>Casos en los útimos 14 días por cada 1000 habitantes</h2>
        <div id="GraphE6" #GraphE6></div>
    </article>
</section>




<!-- Conoce tu comunidad -->
<!-- Conoce tu comunidad -->
<!-- Conoce tu comunidad -->



<header>
    <h1  class="title_separator">Conoce el estado de tu comunidad</h1>
</header>
<!-- Region selector -->
<header style="margin-top:10px">
    <div class="area1">
        <h2>Selecciona comunidad</h2>
        <select  [ngModel]="selectedCCAA" (ngModelChange)="onChange($event)">
            <option [value]="ccaa.code" *ngFor="let ccaa of options">
                {{ccaa.name}}
            </option>
        </select>
    </div>
</header>

<!-- Region selected charts -->

<section>
   <ul class="kpis">
        <li>
            
            <p class="number " style="margin-top:15px">{{jsonResumeSpain.Fecha}}</p>
            <p class="number lastp" style="margin-top:15px">{{jsonResumeSpain.Hora}}h</p>
            
            <!--p><span class="material-icons">poll</span></p-->
        </li>
        <li>
            <p class="number">{{comunidadSelecccionadaKPIS.casos | number}}</p>
            <p><span class="material-icons">add_alarm</span></p>
            <p class="lastp">Total de casos</p>
        </li>
        <li>
            <p class="number">{{comunidadSelecccionadaKPIS.fallecidos | number}}</p>
            <p><span class="material-icons">cloud</span></p> 
            <p class="lastp">Total de fallecidos</p>
        </li>
        <li>
            <p class="number">{{comunidadSelecccionadaKPIS.recuperados | number}}</p>
            <p><span class="material-icons">directions_walk</span></p>
            <p class="lastp">Total de recuperados</p>
        </li>
        <li>
            <p class="number">{{comunidadSelecccionadaKPIS.hospitalizados | number}}</p>
            <p><span class="material-icons">local_hotel</span></p>
            <p class="lastp">Total de hospitalizados</p>             
        </li>
                <li>
            <p class="number">{{comunidadSelecccionadaKPIS.uci | number}}</p>
            <p>
                <span class="material-icons">local_hotel</span>
                <span class="material-icons">add_alert</span>
            </p>
            <p class="lastp">Total de UCI</p>             
        </li>
   </ul>
   

    <article class="pie">
        <h2 style="margin-bottom:0px">Situación con {{comunidadSelecccionadaKPIS.casos | number}} casos</h2>
        <div id="GraphC" #GraphC></div>
    </article>

</section>

<section>
    <article>
        <h2>COVID 19: valores totales </h2>
        <p class="explain"> Estas gráficas siempre suben por que a cada día se suman los datos del anterior</p>
        <p class="explain"> Lo que hay que fijarse es la pendiente, cuanto mas plana, menor sera el numero de nuevos casos</p>
        <div  id="GraphA" #GraphA></div>
    </article>

    <article >
        <h2>COVID 19: valores por día ( ver nota **)</h2>
        <p class="explain"> Estas gráficas suben y bajan, por que son los casos totales de cada día</p>
        <p class="explain"> Lo que hay que fijarse es si las columnas van bajando según pasan los días, lo cual indicaría una mejora</p>
        <div id="GraphB" #GraphB></div>
    </article>
</section>


<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->

<footer>

    <p class="txtright"> Fuente de datos oficial: <a href="https://covid19.isciii.es/">https://covid19.isciii.es/</a> </p>
    <p class="txtright" style="margin-bottom:20px"> Ultima actualización: ({{jsonResumeSpain.Fecha}} - {{jsonResumeSpain.Hora}}h)  </p>

    <p><b>**NOTA publicada en la fuente de datos:</b> El objetivo de los datos que se publican en esta web es saber el número de casos acumulados a la fecha y que por tanto no se puede deducir que la diferencia entre un día y el anterior es el número de casos nuevos ya que esos casos pueden haber sido recuperados de fechas anteriores Cualquier inferencia que se haga sobre las diferencias de un día para otro deben hacerse con precaución y son únicamente la responsabilidad el autor</p>
    <p><b>**NOTA de este autor:</b> estas gráficas usan los datos oficiales compartidos por el gobierno a la población. Según el rigor con que se han tomado esos datos, las gráficas por días debe tomarse como una aproximación.</p>
    <p> <a href="http://atreliz.com">Made by ATL</a></p>
</footer>

